@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header_top__icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent hover:text-white;
  }

  .navbar__link {
    position: relative; 
  }

  .navbar__link:hover {
    color: rgb(112, 112, 112);
  }

  .navbar__link::after {
    content: '';
    position: absolute;
    background-color: rgba(162, 154, 7, 0.91);
    height: 3px;
    width: 100%;
    bottom: -7px;
    left: 0;
    transform: scale(0);
    transform-origin: left;
    transition: all 0.6s;
  
  }

  .navbar__link:hover::after {
    transform: scale(1);
  }
  
}
